{% load plantuml_tags %}
<section class="article-plantuml article-width-{{ value.width }}">
    <div class="article-plantuml__frame">
        {% if value.caption %}
            <div class="article-plantuml__toolbar">
                <div class="article-plantuml__caption">{{ value.caption }}</div>
            </div>
        {% endif %}

        <div class="article-plantuml__canvas">
            <div class="article-plantuml__svg-wrap">
                {% render_plantuml value.source %}
            </div>
        </div>
    </div>
</section>
